<div class="row">
  <%= form_with url: account_path, class: 'col-md-4 card bg-light' do |f| %>
    <h3 class="mx-auto">Update Account</h3>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', required: true, value: @user.email %>
    </div>

    <%= f.submit 'Update Account Information', class: 'btn btn-primary btn-block' %>
<% end %>
</div>

<div class="row">
  <%= form_with url: account_update_password_path, class: 'col-md-4 card bg-light' do |f| %>
    <h3 class="mx-auto">Update Password</h3>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Password Confirmation' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Repeat Password', required: true %>
    </div>

    <%= f.submit 'Change Password', class: 'btn btn-primary btn-block' %>
<% end %>
</div>
